<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title> Gerenciador De Eventos </title>
  <meta chartset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="stylesheets/index.css" rel="stylesheet">
  <link href="stylesheets/bootstrap.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Da+2|Pangolin|Poppins&display=swap" rel="stylesheet">
</head>

<body>
  <header class="align-self-center shadow-sm p-3 mb-5 bg-white rounded">
      <div id="container" class="container">
          <div class="row">
              <h2 class="titulo"> Gerenciador De Eventos </h2>
          </div>
      </div>
  </header>
  <!-- Main -->
  <main>
    <!-- Primeira Section: Textos e Imagens -->
    <section>
      <!-- Article "Sobre Nós" -->
      <article class="shadow-sm p-3 mb-5 bg-white rounded">
          <div class="container">
              <div class="row">
                  <!-- Div que Contém Título "Sobre Nós" e seu texto -->
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text">
                      <h2 id="sobre-nos" class="titulo">Gerencie Seus Eventos</h2>
                      <p class="body-text-p"> 
                          Uma maneira simples e fácil de gerenciar seus eventos, a plataforma
                          possui todas as ferraments necessárias para você criar os melhores 
                          dos eventos
                      </p>
                      <div class="div-botao-section">
                          <a href="#" class="botao">Leia mais</a>
                      </div>
                  </div>
                  <!-- Div que Contém a Imagem do Conteúdo "Sobre Nós" -->
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <img src="images/gerenciando_eventos.png" class="rounded float-right img" alt="icone">
                  </div>
              </div>
          </div>
      </article>
      <!-- Article "Para Nossos Professores" -->
      <article class="shadow-sm p-3 mb-5 bg-white rounded">
          <div class="container">
              <div class="row">
                  <!-- Div que Contém a Imagem do Conteúdo "Para Nossos Professores" -->
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text">
                      <img src="images/gerenciando_tempo.png" class="rounded float-left img" alt="icone">
                  </div>
                  <!-- Div que Contém Título "Para Nossos Professores" e seu texto -->
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <h2 class="titulo">Otimize Seu Tempo</h2>
                      <p class="body-text-p"> 
                          Não se preocupa mais com a maneira tradicional de gerenciar eventos, junte-se a plataforma
                          e conheça formas de otimizar seu tempo ao gerenciar seus eventos
                      </p>
                      <div class="div-botao-section">
                          <a href="#" class="botao">Leia mais</a>
                      </div>
                  </div>
              </div>
          </div> 
      </article>
      <!-- Article "Para Nossos Alunos" -->
      <article class="shadow-sm p-3 mb-5 bg-white rounded">
          <div class="container">
              <div class="row">
                  <!-- Div que Contém Título "Para Nossos Alunos" e seu texto -->
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text">
                      <h2 class="titulo">Facilidade Financeira</h2>
                      <p class="body-text-p">
                          Cansado de realizar a manutenção na parte financeira de seus eventos? 
                          deixe esse trabalho com a gente! nós seremos responsáveis pelas transações
                          e ações de maneira segura e prática
                      </p>
                      <div class="div-botao-section">
                          <a href="#" class="botao">Leia mais</a>
                      </div>
                  </div>
                  <!-- Div que Contém a Imagem do Conteúdo "Para Nossos Alunos" -->
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <img src="images/transferindo_dinheiro.png" class="rounded float-right img" alt="icone">
                  </div>
              </div>
          </div>
      </article>
  </main>
  <script type="text/javascript" src="javascripts/bootstrap.js"></script>
</body>
</html>