<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title> Gerenciador De Eventos </title>
    <meta chartset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS Externos -->
    <link href="stylesheets/index.css" rel="stylesheet">
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <!-- Fonte Ballo Da 2 e Poppins -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da+2|Pangolin|Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Cabeçalho -->
    <header class="align-self-center shadow-sm p-3 mb-5 bg-white rounded">
        <div id="container" class="container">
            <div class="row">
                <h2 class="titulo"> Início Promotora </h2>
            </div>
        </div>
    </header>
    <!-- Main -->
    <main>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text align-self-center shadow-sm p-3 mb-5 bg-white rounded">
                
                
                
                <a href="#" class="text"> Todos os Eventos </a> <br/>
                <a href="#" class="text"> Meus Eventos </a> <br/>
            </div>

            <div class="offset-1 col-lg-8 col-md-8 col-sm-11 col-xs-11 text align-self-center shadow-sm p-3 mb-5 bg-white rounded">
                bla bla bla
            </div>
        </div>
    </main>
    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap.js"></script>
</body>
</html>